<!DOCTYPE html>
<html lang="en">

<head>

    <title>The UML Labeling Initiative</title>
    <!-- 

Get Ready Template

https://templatemo.com/tm-521-get-ready

-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% load static%}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'templatemo_521_get_ready/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'templatemo_521_get_ready/css/vegas.min.css' %}">
    <link rel="stylesheet" href="{% static 'templatemo_521_get_ready/css/font-awesome.min.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'templatemo_521_get_ready/css/templatemo-style.css' %}">

    <!-- OVERRIDE CSS -->
    <link rel="stylesheet" href="{% static 'umllabels/home.css' %}">
</head>

<body>

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>


    <!-- GRID LINE -->
    <section class="grid">
        <div class="container">
            <div class="row">

                <div class="col-md-2 col-sm-2">
                    <div class="grid-line"></div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="grid-line"></div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="grid-line"></div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="grid-line"></div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="grid-line"></div>
                </div>

            </div>
        </div>
    </section>


    <div class="menu-bg"></div>
    <div class="menu-burger">☰</div>

    <div class="menu-items">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-4 col-sm-6">
                    <h1>About</h1>
                    <h3>
                        The UML Labeling Initiative is a data labeling project to create a large data set of UML class
                        diagrams with their English description.
                    </h3>
                </div>

                <div class="col-md-4 col-sm-6">
                    <address>
                        <h1>Contact</h1>
                        <h3><a href="mailto: song.yang.1@umontreal.ca">song.yang.1@umontreal.ca</a>
                        </h3>
                    </address>
                </div>
            </div>
        </div>
    </div>


    <!-- HOME -->
    <section id="home">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="home-info">
                        <h1>The UML Labeling Initiative</h1>
                        <!-- NOT USED You can change the date time in init.js file -->
                        <ul class="countdown">
                            <li>
                                <span class="models">{{ total_models }}</span>
                                <h3>Models</h3>
                            </li>
                            <li>
                                <span class="fragments">{{ total_fragments }}</span>
                                <h3>Fragments</h3>
                            </li>
                            <li>
                                <span class="models_labeled">{{ models_done }}</span>
                                <h3>Labeled Models</h3>
                            </li>
                            <li>
                                <span class="fragments_labeled">{{ fragments_done }}</span>
                                <h3>Labeled Fragments</h3>
                            </li>
                        </ul>

                        <button class="button" style="vertical-align:middle" onclick="location.href={% url 'labeling:index' %}"><span>Start </span></button>
                        <button class="button" style="vertical-align:middle" onclick="location.href={% url 'validation' %}"><span>Validate </span></button>
                        <button class="button" style="vertical-align:middle" onclick="location.href={% url 'admin:index' %}"><span>Admin </span></button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- SCRIPTS -->
    <script>
        var image1 = "{% static 'templatemo_521_get_ready/images/slide-image01.jpg' %}";
        var image2 = "{% static 'templatemo_521_get_ready/images/slide-image02.jpg' %}";
    </script>

    <script src="{% static 'templatemo_521_get_ready/js/jquery.js' %}"></script>
    <script src="{% static 'templatemo_521_get_ready/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'templatemo_521_get_ready/js/vegas.min.js' %}"></script>
    <!-- <script src="{% static 'templatemo_521_get_ready/js/countdown.js' %}"></script> -->
    <!-- <script src="{% static 'templatemo_521_get_ready/js/init.js' %}"></script> -->
    <script src="{% static 'templatemo_521_get_ready/js/custom.js' %}"></script>

</body>

</html>